.section-search input{
    padding: 7px !important;
    font-size: 15px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
}
.autocomplete-content {
    position: absolute;
    width: 100%;
    text-align: center;
}